VBox {
    -fx-spacing: 10;
    -fx-padding: 10 0 0 10 ;
}
HBox {
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #ee2610ff 0.0%, #f7ad1dff 100.0%);
    -fx-background-radius: 10 10 0 0 ;
}
HBox FontAwesomeIconView {
    -fx-fill: white;
}
.title {
    -fx-font-size: 2em;
    -fx-fill: white;
    -fx-font-family: Arial;
}
Label {
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
Text {
    -fx-fill: #888888;
    -fx-font-size: 1.2em;
}
.container {
    -fx-background-color: #dddddd;
}
.info_container {
    -fx-background-color: white;
    -fx-effect: dropshadow(two-pass-box, #AAAAAA, 5, 0, 0, 5);
    -fx-background-radius: 10;
}
.status_lbl {
    -fx-alignment: center;
}
.shipper_info_lbl {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 3;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 5, 0, 0, 5);
}
ComboBox {
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 5, 0, 0, 5);
    -fx-background-color: #FFFFFF;
}
.update_btn {
    -fx-background-color: #3399cc;
    -fx-background-radius: 20;
    -fx-text-fill: white;
    -fx-effect: dropshadow(two-pass-box, #AAAAAA, 5, 0, 0, 5);
}
.update_btn FontAwesomeIconView {
    -fx-fill: white;
}
