.view_container {
    -fx-background-color: #EEEEEE;
}
.info_view {
    -fx-spacing: 15;
    -fx-padding: 0 0 0 10;
}
.info_view TextField {
    -fx-pref-height: 35;
    -fx-pref-width: 250;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 5, 0, 0, 5);
}
.info_view DatePicker {
    -fx-pref-height: 35;
    -fx-pref-width: 250;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 5, 0, 0, 5);
}
.crud_nav {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-alignment: center;
    -fx-spacing: 15;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 5, 0, 0, 5);
}
.crud_nav Button {
    -fx-pref-width: 80;
    -fx-pref-height: 80 ;
}
.save_btn {
    -fx-font-size: 1.5em;
    -fx-text-fill: white;
    -fx-background-color: #5BBD2BFF;
}
.edit_btn{
    -fx-font-size: 1.5em;
    -fx-text-fill: white;
    -fx-background-color: #F1AF00FF;
}
.delete_btn {
    -fx-font-size: 1.5em;
    -fx-text-fill: white;
    -fx-background-color: red;
}
.image_view ImageView{
    /*-fx-border-color: red;*/
    /*-fx-border-radius: 8;*/
    /*-fx-border-width: 2;*/
    /*-fx-background-color: #ffffff;*/
    /*-fx-alignment: center;*/
    /*-fx-padding: 5 5 5 5 ;*/
    /*-fx-spacing: 10;*/
    -fx-pref-height: 240;
    -fx-pref-width: 180;
}
.clear_btn {
    -fx-background-color: red;
}
.clear_btn FontAwesomeIconView{
    -fx-fill: white;
}
.upload_btn {
    -fx-background-color: #3399CCFF;
    -fx-text-fill: white;
}
.upload_btn FontAwesomeIconView{
    -fx-fill: white;
}
Button:hover {
    -fx-cursor: hand;
}
.table-view{
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #ee2610ff 0.0%, #f7ad1dff 100.0%);
    -fx-border-radius:8px;
    -fx-padding:0px;
}
.table-view .table-column{
    -fx-alignment:CENTER;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #ee2610ff 0.0%, #f7ad1dff 100.0%);
    -fx-background-insets: 0 0 0 0;
    -f-background-radius:8px 8px 0px 0px;
}
.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size:40px;
}
.table-view .column-header .label{
    -fx-text-fill:#fff;
    -fx-font-family:"Arial";
}
.search_field {
    -fx-border-color:linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #ee2610ff 0.0%, #f7ad1dff 100.0%);
    -fx-border-radius: 5;
}
.image_container {
    -fx-alignment: center;
    -fx-spacing: 10;
}